@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>平台介绍</title>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="/css/animate.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="row border-bottom dashboard-header animated fadeInRight">
        <div class="panel panel-default">
            <div class="panel-heading">
                技术介绍
            </div>
            <div class="panel-body">
                <div style="float: left; width: 50%;">
                    <p>1、前端技术</p>
                    <p>JS框架：jquery-2.1.4、Bootstrap.js</p>
                    <p>CSS框架：Bootstrap v3.3.6（稳定是后台，UI方面根据需求自己升级改造吧）。</p>
                    <p>客户端验证：jQuery Validation Plugin 1.17.0。</p>
                    <p>在线编辑器：UEditor</p>
                    <p>上传文件：webuploader</p>
                    <p>数据表格：jqGrid、Bootstrap Talbe</p>
                    <p>对话框：layer-v2.3</p>
                    <p>下拉选择框：jQuery Select2</p>
                    <p>树结构控件：treeview</p>
                    <p>页面布局：jquery.layout.js 1.4.4</p>
                    <p>图表插件：echarts、highcharts</p>
                    <p>日期控件： layerDate</p>
                </div>
                <div style="float: left; width: 50%;">
                    <p>2、后端技术</p>
                    <p>核心框架：ASP.NET Core MVC、ASP.NET Core API、Autofac、AutoMapping、ThreadPool</p>
                    <p>持久层框架：Dapper</p>
                    <p>定时计划任务：Quartz.Net组件</p>
                    <p>安全支持：过滤器、Sql注入、XXS注入、请求伪造</p>
                    <p>服务端验证：实体模型验证、自己封装Validator</p>
                    <p>缓存框架：微软自带Cache、Redis</p>
                    <p>日志管理：NLog（记录系统错误日志，方便快速找到问题根源）、数据库保存日志（登录日志和操作日志）</p>
                    <p>工具类：Newtonsoft.Json、验证码、丰富公共类</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
