<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS框架 - @ViewBag.Title</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/font-awesome.css" rel="stylesheet" />
    <link type="text/css" href="/css/animate.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />

</head>
<body>
    @RenderBody()
</body>
</html>
